@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");
:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --border-radius: 12px;
  --font-color: #323232;
}
html,
body {
  height: 100%;
  color: var(--font-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}
#logo {
  margin: 0;
}
h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}
.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: 0px;
  margin-left: auto;
}
.navigation-item {
  margin: var(--spacing-1);
}
a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}
section {
  padding: var(--spacing-3) 0;
}
.about-me-container {
  display: flex;
  justify-content: space-between;
}
.about-me-text-container {
  margin-right: var(--spacing-3);
}
.portrait {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  justify-content: flex-end;
}

details {
  cursor: pointer;
}
.project-image {
  width: 50%;
}
.project-title h3 {
  display: inline;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}
footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}
.heart {
  color: red;
}
.fab,
.far {
  font-weight: 400;
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-css3-alt::before {
  content: "\f38b";
}
